/* #region Variables */
:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  --primary-brand-cl: #4d5ae5;
  --pressed-state-cl: #404bbf;
  --dark-cl: #2e2f42;
  --success-cl: #31d0aa;
  --text-cl: #434455;
  --subtle-text-cl: #8e8f99;
  --accent-cl: #e7e9fc;
  --light-cl: #f4f4fd;
  --modal-overlay-cl: rgba(46, 47, 66, 0.4);
  --hero-bg-cl: rgba(46, 47, 66, 0.7);
  --white-bg-cl: #fff;
  --modal-bg-cl: #fcfcfc;
  /* Others */
  --indent-col: 24px;
  --indent-row: var(--indent-col);
  --items: 4;
}
/* #endregion Variables */
/* #region Base-Styles */
body {
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-cl);
  background-color: var(--white-bg-cl);

  /* Default values */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
img {
  display: block;
}
/* #endregion Base-Styles */
/* #region Common-Styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero,
.benefits,
.team,
.portfolio {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-bg-cl);
  max-width: 496px;
  margin: 0 auto 48px;
}
.btn {
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--white-bg-cl);
  background-color: var(--primary-brand-cl);
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-cl);
}
.section-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-cl);
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.section-subtitle {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-cl);
}
.text {
  color: var(--text-cl);
}
.logo {
  font-family: var(--secondary-font);
  color: var(--primary-brand-cl);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}
.card-set-item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}
/* #endregion Common-Styles */
/* #region Header */
.header {
  border-bottom: 1px solid var(--accent-cl);
}
.header .container {
  display: flex;
}
.logo-header-accent {
  color: var(--dark-cl);
}
.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 332px;
  align-items: center;
}
.nav-item {
  font-weight: 500;
  display: flex;
  column-gap: 40px;
}
.nav-link {
  color: var(--dark-cl);
  display: block;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-cl);
}
.address-list {
  display: flex;
  column-gap: 40px;
  height: 100%;
  align-items: center;
}
.address-link {
  color: currentColor;
}
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-cl);
}
/* #endregion Header */
/* #region Hero */
.hero {
  background-color: var(--dark-cl);
  height: 600px;
  padding: 188px 0;
}

/* #endregion Hero */
/* #region Benefits */
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-item {
  max-width: 264px;
}
.benefits-item .section-subtitle {
  margin-bottom: 8px;
}
/* #endregion Benefits */
/* #region Team */
.team {
  background-color: var(--light-cl);
  text-align: center;
}
.employee-card {
  background-color: var(--white-bg-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}
.employee-card-picture {
  margin-bottom: 32px;
}
.employee-card .section-subtitle {
  margin-bottom: 8px;
}
/* #endregion Team */
/* #region Portfolio */
.portfolio-list {
  --indent-row: 48px;
  --items: 3;
}
.portfolio-list-item {
  border: 1px solid var(--accent-cl);
  padding-bottom: 32px;
}
.portfolio-list-item .section-subtitle {
  margin-bottom: 8px;
}
.portfolio-list-item-picture {
  margin-bottom: 32px;
}
/* #endregion Portfolio */
/* #region Footer */
.footer {
  background-color: var(--dark-cl);
  height: 312px;
  padding-top: 101.5px;
}
.logo-footer {
  margin-bottom: 17.5px;
}
.logo-footer-accent {
  color: var(--light-cl);
}
.footer-text {
  color: var(--light-cl);
  max-width: 264px;
}
/* #endregion Footer */
